<app-banner
  [title]="'giving back'"
  [imgLink]="'../../../assets/images/running-for-a-cause-bg.jpg'"
  ></app-banner>
<div class="intro">
  <div class="intro--title">
    THIS YEAR’S CHARITY
  </div>
  <div class="intro--description">
    Each year the pink series staff picks a charitable cause to donate to. Visit the sites below and get involved. Spread a little love to others around you! Don’t forget to show some love to yourself, too!
  </div>
</div>
<app-current></app-current>
<app-year
*ngFor="let year of years; let i = index ; let last = last"
[yearArr]="year"
[index]="i"
[lastYear]="last"></app-year>
