@import "../shared/styles/styleVars";

.intro{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;

  width: 100vw;
  height: 19.375vw;
  padding-top: 4.583vw;
  padding-bottom: 5.2083vw;


  &--title{
    font-family: 'Montserrat', sans-serif;
    font-size: 1.8rem;
    font-weight: 900;
    letter-spacing: .1rem;
    text-align: center;
    color: $primaryBackgroundColor;

  }
  &--description{
    width: 69.2361vw;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.3rem;
    line-height: 1.45;
    text-align: center;
    color: $secondaryFontColor;
  }


}
