<div class="registrationForm">

  <div class="registrationForm__title">
    BILLING INFO
  </div>

  <div class="registrationForm__group">
    <div class="registrationForm__input">
      <label for="firstName" class="registrationForm__subtitle">first name<span class="registrationForm__pink">*</span></label>
      <input type="text" id="firstName" class="registrationForm__inputBox">
    </div>
    <div class="registrationForm__input">
      <label for="lastName" class="registrationForm__subtitle">last name<span class="registrationForm__pink">*</span></label>
      <input type="text" id="lastName" class="registrationForm__inputBox">
    </div>
    <div class="registrationForm__input--full">
      <label for="streetAddress" class="registrationForm__subtitle">street Address<span class="registrationForm__pink">*</span></label>
      <input type="text" id="streetAddress" class="registrationForm__inputBox">
    </div>
    <div class="registrationForm__input--quarter">
      <label for="country" class="registrationForm__subtitle">country<span class="registrationForm__pink">*</span></label>
      <input type="text" id="country" class="registrationForm__inputBox">
    </div>
    <div class="registrationForm__input--quarter">
      <label for="zipCode" class="registrationForm__subtitle">zip code<span class="registrationForm__pink">*</span></label>
      <input type="text" id="zipCode" class="registrationForm__inputBox">
    </div>
    <div class="registrationForm__input--quarter">
      <label for="city" class="registrationForm__subtitle">city<span class="registrationForm__pink">*</span></label>
      <input type="text" id="city" class="registrationForm__inputBox">
    </div>
    <div class="registrationForm__input--quarter">
      <label for="state" class="registrationForm__subtitle">state<span class="registrationForm__pink">*</span></label>
      <input type="text" id="state" class="registrationForm__inputBox">
    </div>

  </div>
</div>
