@import "../../shared/styles/styleVars";

.raceInfo{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  padding: 4.5vw 0 1vw;
  background: $lightBackground;

  &__flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 45px;
  }

  &__text{
    width: 215px;
    height: 100px;
    margin-left: 3.055vw;
    display: flex;
    justify-content: space-between;
    flex-direction: column;

    &--location{
      width: 275px;
    }
  }

  &__title{
    font-family: 'Montserrat', sans-serif;
    font-size: 1.4rem;
    font-weight: 900;
    letter-spacing: .07rem;
    color: $primaryBackgroundColor;
  }

  &__detail{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.3rem;
    line-height: 1.45;
    color: $secondaryFontColor;
  }

  &__startTime{
    color: $primaryBackgroundColor;
    font-weight: bold;
  }

  &__mapLink{
    cursor: pointer;
    color: $primaryAccentColor;
    text-decoration: underline;
  }


}
