@import "../../../shared/styles/styleVars";

.card{
  width: 43.4vw;
  height: 28.8vw;
  margin: 1.15rem;

  background:  url('../../../../assets/images/running-for-a-cause-bg.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 3.68vw;
  padding-top: 7.083vw;


  &--title{
    width: 29.3vw;
    font-family: 'Source Sans Pro', sans-serif;
    color: $primaryFontColor;
    font-size: 2.5rem;
    font-weight: 900;
    letter-spacing: .14rem;
    text-align: center;
    font-style: italic;
    line-height: 1.5;
    
  }
  &--date{
    font-family: 'Source Sans Pro', sans-serif;
    color: $primaryFontColor;
    font-size: 1.25rem;
    font-weight: 400;
    font-style: italic;
    line-height: .4rem;
  }
  &--button{
    width: 236px;
    height: 50px;
    text-decoration: none;
    border: 2px solid $primaryFontColor;
    border-radius: 25px;
    font-style: italic;
    display: flex;
    justify-content: center;
    align-items: center;

    &--text{
      font-family: 'Source Sans Pro', sans-serif;
      color: $primaryFontColor;
      font-size: 1rem;
      font-weight: 900;
      font-style: italic;
      letter-spacing: .07rem;
      text-transform: uppercase;
    }
  }
}
