@import "../../shared/styles/styleVars";

.footer-main{
  height: 7rem;
  background-color: $primaryBackgroundColor;
  padding: 0 5.2vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-links-items{
  width: 28vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.footer-links-items div{
  text-transform: uppercase;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: .7rem;
	font-weight: 900;
	letter-spacing: 0.045rem;
	color: $primaryFontColor;
}

.footer-social-items{
  width: 155.4px;
  display: flex;
  justify-content: space-between;
  align-items: center;

}
.footer-social-icon{
  height: 1.45rem;
  width: 1.45rem;
}

.footer-social-icon svg{
  fill: $primaryAccentColor;
}

.footer-copyright {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: .75rem;
	line-height: 1.93;
	color: $primaryFontColor;
}
