@import "../../shared/styles/styleVars";

.pricing{
  width: 43.5vw;


  &__title{
    font-family: 'Montserrat', sans-serif;
    font-size: 1.4rem;
    font-weight: 900;
    letter-spacing: .07rem;
    color: $primaryBackgroundColor;
    padding-bottom: 2rem;
  }

  &__boxes{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    height: 33.541666vw;
  }
  &__registerNow{
    background: $primaryAccentColor;
    width: 43.5vw;
    height: 16.31944vw;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    padding: 2.3rem 2rem .8rem;
  }
  &__top{
    display: flex;
    align-items: center;
    justify-content: space-around;
  }
  &__40{
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 900;
    font-size: 8rem;
    text-align: center;
    color: $darkerGray;
    letter-spacing: .15rem;
  }
  &__register{
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 900;
    font-size: 2.5rem;
    text-align: center;
    color: $darkerGray;
    letter-spacing: .15rem;
    line-height: .73;
    font-style: italic;
  }

  &__smallBox{
    width: 43.5vw;
    height: 16.31944vw;

    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;

    &Title{
      font-family: 'Source Sans Pro', sans-serif;
      font-weight: 600;
      font-size: 1.3rem;
      line-height: 1.53;
      text-align: center;
      color: $primaryFontColor;
      font-style: italic;
    }

    &Discount{
      font-family: 'Source Sans Pro', sans-serif;
      font-weight: 900;
      font-size: 4rem;
      text-align: center;
      color: $darkerGray;
      letter-spacing: .15rem;
    }
    &SameDay{
      font-family: 'Source Sans Pro', sans-serif;
      font-weight: 900;
      font-size: 5.5rem;
      text-align: center;
      color: $darkerGray;
      letter-spacing: .15rem;
    }
  }
  &__boxSubtext{
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 1.44;
    letter-spacing: .05rem;
    text-align: center;
    color: $primaryFontColor;
  }
  &__groupDiscount{
    background: $primaryAccentColor;
    width: 21.3vw;
    height: 16.31944vw;
    padding: 1.4rem;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  &__sameDay{
    background: $gray;
    width: 21.3vw;
    height: 16.31944vw;
    padding: 1.4rem;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  &__refundWarning{
    height: 1rem;
    margin: 1rem 0;
    p{
      font-family: 'Source Sans Pro', sans-serif;
      font-weight: 600;
      font-size: 1rem;
    }
  }

}
