<div class="pricing">
  <div class="pricing__title">
    PRICING
  </div>
  <div class="pricing__boxes">
    <div class="pricing__registerNow">

      <div class="pricing__top">
        <div class="pricing__40">
          $40
        </div>
        <div class="pricing__register">
          REGISTER NOW
        </div>
      </div>
      <div class="pricing__boxSubtext">
        Good from Feb 20 until March 25th at 8pm*
      </div>

    </div>
    <div class="pricing__smallBox">
      <div class="pricing__groupDiscount">

        <div class="pricing__smallBoxTitle">
          REGISTER 4 OR MORE AT THE SAME TIME AND GET
        </div>
        <div class="pricing__smallBoxDiscount">
          $5 OFF
        </div>
        <div class="pricing__boxSubtext">
          each person*
        </div>


      </div>
      <div class="pricing__sameDay">

        <div class="pricing__smallBoxTitle">
          SAME DAY REGISTRATION
        </div>
        <div class="pricing__smallBoxSameDay">
          $45
        </div>
        <div class="pricing__boxSubtext">
          From 7am through 8:30am*
        </div>

      </div>
    </div>
  </div>
</div>
<div class="pricing__refundWarning">
  <p>*Refunds will not be issued for any reason</p>
</div>
