<div class="flexWrap">
  <div class="flexWrap--share flexWrap--box">
    <div class="">
      <p>follow in our footsteps</p>
    </div>
  </div>
  <div class="flexWrap--img flexWrap--box">
    <img src="../../../../assets/images/home-social/pair-shirts.jpg" alt="">
  </div>
  <div class="flexWrap--img flexWrap--box">
    <img src="../../../../assets/images/home-social/start.jpg" alt="">
  </div>
  <div class="flexWrap--img flexWrap--box">
    <img src="../../../../assets/images/home-social/arm-in-arm.jpg" alt="">
  </div>
  <div class="flexWrap--img flexWrap--box">
    <img src="../../../../assets/images/home-social/crowns.jpg" alt="">
  </div>
  <div class="flexWrap--img flexWrap--box">
    <img src="../../../../assets/images/home-social/hands-in-air.jpg" alt="">
  </div>
</div>
