<div class="flexWrap">
  <div class="flexWrap--box">
    <div class="flexWrap--share ">
      <div class="share--title">
        <p class="share--title--text">FOLLOW<br>IN OUR<br>FOOTSTEPS</p>
      </div>
      <div class="share--social">
        <div class="">
          <img src="../../../../assets/social/icons/icon-fb.svg" alt="">
        </div>
        <div class="">
          <img src="../../../../assets/social/icons/icon-twitter.svg" alt="">
        </div>
        <div class="">
          <img src="../../../../assets/social/icons/icon-pinterest.svg" alt="">
        </div>
        <div class="">
          <img src="../../../../assets/social/icons/icon-instagram.svg" alt="">
        </div>
      </div>
    </div>
  </div>
  <div class="flexWrap--img flexWrap--box">
    <img src="../../../../assets/images/home-social/pair-shirts.jpg" alt="">
  </div>
  <div class="flexWrap--img flexWrap--box">
    <img src="../../../../assets/images/home-social/start.jpg" alt="">
  </div>
  <div class="flexWrap--img flexWrap--box">
    <img src="../../../../assets/images/home-social/arm-in-arm.jpg" alt="">
  </div>
  <div class="flexWrap--img flexWrap--box">
    <img src="../../../../assets/images/home-social/crowns.jpg" alt="">
  </div>
  <div class="flexWrap--img flexWrap--box">
    <img src="../../../../assets/images/home-social/hands-in-air.jpg" alt="">
  </div>
</div>
