<div class="flexWrap">
  <div class="flexWrap--box">
    <div class="flexWrap--share ">
      <div class="share--title">
        <p class="share--title--text">FOLLOW<br>IN OUR<br>FOOTSTEPS</p>
      </div>
      <div class="share--social">
        <a target="_blank" href="https://www.facebook.com/Pink-Series-146040075408491/" class="">
          <img src="../../../../assets/social/icons/icon-fb.svg" alt="">
        </a>
        <a target="_blank" href="https://twitter.com/runpinkseries" class="">
          <img src="../../../../assets/social/icons/icon-twitter.svg" alt="">
        </a>
        <a target="_blank" href="https://www.pinterest.com/pinkseries/" class="">
          <img src="../../../../assets/social/icons/icon-pinterest.svg" alt="">
        </a>
        <a target="_blank" href="https://www.instagram.com/thepinkseries/" class="">
          <img src="../../../../assets/social/icons/icon-instagram.svg" alt="">
        </a>
      </div>
    </div>
  </div>
  <div class="flexWrap--img flexWrap--box">
    <img src="../../../../assets/images/home-social/pair-shirts.jpg" alt="">
  </div>
  <div class="flexWrap--img flexWrap--box">
    <img src="../../../../assets/images/home-social/start.jpg" alt="">
  </div>
  <div class="flexWrap--img flexWrap--box">
    <img src="../../../../assets/images/home-social/arm-in-arm.jpg" alt="">
  </div>
  <div class="flexWrap--img flexWrap--box">
    <img src="../../../../assets/images/home-social/crowns.jpg" alt="">
  </div>
  <div class="flexWrap--img flexWrap--box">
    <img src="../../../../assets/images/home-social/hands-in-air.jpg" alt="">
  </div>
</div>
