<div class="main">

  <div class="modal">
    <div class="modal--window">
      <app-video-modal></app-video-modal>
    </div>
  </div>

  <div class="flexContainer">
    <div class="main--top">
      All Across Utah Women Are
    </div>
    <div class="main--title">
      RUNNING <br>
      FOR A CAUSE
    </div>
    <div class="main--buttons">
      <div class="main--buttons--button main--buttons--watchVid">
        <h5>WATCH VIDEO</h5>
        <!-- https://www.youtube.com/watch?v=IqqHh9SEALM -->
      </div>
      <div class="main--buttons--button main--buttons--signUp">
        <h5>SIGN UP</h5>
      </div>
    </div>
  </div>
  <div class="main--bottomDivider">
    <!-- <h1>asl;djkf</h1> -->
  </div>
</div>
