<div class="registrationForm">

  <div class="registrationForm__title">
    payment INFO
  </div>

  <div class="registrationForm__group">
    <div class="registrationForm__input--twoThird">
      <label for="cardNumber" class="registrationForm__subtitle">card number<span class="registrationForm__pink">*</span></label>
      <input type="text" id="cardNumber" class="registrationForm__inputBox">
    </div>
    <div class="registrationForm__input--quarter">
      <label for="securityCode" class="registrationForm__subtitle">card security code<span class="registrationForm__pink">*</span></label>
      <input type="text" id="securityCode" class="registrationForm__inputBox">
    </div>
    <div class="registrationForm__input--full">
      <label for="expirationDate" class="registrationForm__subtitle">Expiration Date<span class="registrationForm__pink">*</span></label>
      <input type="text" id="expirationDate" class="registrationForm__inputBox">
    </div>

  </div>
</div>
