<div class="registrationForm">
  <div class="registrationForm__title">
    DONATE TO <span class="registrationForm__pink">THE PINK SERIES</span>
  </div>

  <div class="registrationForm__group">
    <div class="registrationForm__input--quarter">
      <label for="donationAmount" class="registrationForm__subtitle">donation amount<span class="registrationForm__pink">*</span></label>
      <input type="text" id="donationAmount" class="registrationForm__inputBox">
    </div>
    <div class="registrationForm__input--quarter">
      <label for="onBehalf" class="registrationForm__subtitle">on behalf of<span class="registrationForm__pink">*</span></label>
      <input type="text" id="onBehalf" class="registrationForm__inputBox">
    </div>

  </div>
</div>
