<div class="register">
  <div class="clock">
    <img src="../../../assets/images/clock.svg" alt="">
  </div>
  <div class="info">
    <div class="info--title">
      GET READY, GET SET, GO!
    </div>
    <p class="info--description">
      The Pink Series was established for girl runners (the gentlemen can run with us but aren't eligble for awards). Our goal is to provide a women's retreat where women can run an awesome event and then party after! The Pink Series continues to grow each year and is Utah's largest womens only event, and race party. 
    </p>
    <div class="info--register">
      <div class="info--register--button">
        REGISTER NOW
      </div>
    </div>
  </div>
</div>
