<div class="register">
  <div class="register__clock">
    <img src="../../../assets/images/clock.svg" alt="">
  </div>
  <div class="register__info">
    <div class="register__title">
      GET READY, GET SET, GO!
    </div>
    <p class="register__description">
      The Pink Series was established for girl runners (the gentlemen can run with us but aren't eligble for awards). Our goal is to provide a women's retreat where women can run an awesome event and then party after! The Pink Series continues to grow each year and is Utah's largest womens only event, and race party. 
    </p>
    <div class="register__register">
      <div class="register__registerButton">
        REGISTER NOW
      </div>
    </div>
  </div>
</div>
