<div class="flexContainer">
  <div class="flexContainer--img">
    <img src="../assets/images/home-social/start.jpg" alt="">
  </div>
  <div class="details">
    <div class="details--title">
      Pink Series Charity of 2015
    </div>
    <div class="details--name">
      LIFTING HEARTS
    </div>
    <div class="details--details">
      With a common goal to be healthy survivors and to help other survivors heal, the group Lifting Hearts was organized to provide mentoring, monthly support meetings, breast cancer retreats, service opportunities, and family activities, all aimed at sharing support, wisdom, laughter and hope.  Each woman who joins Lifting Hearts gains instant friendships with women who have walked in her path.  She finds a place to celebrate today and figure out tomorrow, whatever comes. Become a part of the cause.
    </div>
    <div class="details--button">
      <div class="details--button">
        <div class="details--button--text">
          visit page
        </div>
      </div>
    </div>
  </div>
</div>
