
$primaryAccentColor: #FB005A;
$primaryAccentFilter: rgba(251,0,88,0.50);
$primaryBackgroundColor: #111;
$primaryFontColor: #fff;
$secondaryFontColor: #383838;
$darkerGray: #323232;
$lightGray: #cdcdcd;
$gray: #a8a8a8;
$lightBackground: #f0f0f0;
