
$primaryAccentColor: #FB005A;
$primaryAccentFilter: rgba(251,0,88,0.50);
$primaryBackgroundColor: #111;
$primaryFontColor: #fff;
$secondaryFontColor: #383838;
$darkerGray: #323232;
$lightGray: #cdcdcd;
$gray: #a8a8a8;
$lightBackground: #f0f0f0;



.grayline{
  height: .1rem;
  width: 100%;
  background: $gray;
}
.sg-replace-icons input[type=radio]:checked + label,
.sg-replace-icons input[type=checkbox].sg-input-checkbox:checked + label{
    color:#F06586;
}

.runner{

  &__pinkBold{
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5rem;
    font-weight: 900;
    letter-spacing: .1rem;
    color: $primaryAccentColor;
    text-transform: uppercase;

    &--padRight{
      padding-right: 1.5rem;
    }
  }

  &__pinkUnderline{
    color: $primaryAccentColor;
    text-decoration: underline;
  }

  &__id{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1rem;
    border-top: .1rem solid $lightGray;
    border-bottom: .1rem solid $lightGray;
    padding: 1rem 0;
  }
}

.registrationForm{

  &__title{
    padding: 1.5rem 0;
    font-family: 'Montserrat', sans-serif;
    font-size: 1.2rem;
    font-weight: 900;
    letter-spacing: .1rem;
    color: $secondaryFontColor;
    text-transform: uppercase;
  }

  &__pink{
    color: $primaryAccentColor;
  }
  &__pinkUnderline{
    color: $primaryAccentColor;
    text-decoration: underline;
  }

  &__input{
    min-width: 300px;
    width: 28.54vw;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding-bottom: 1rem;
    &--full{
      width: 100%;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      padding-bottom: 1rem;
    }
    &--oneThird{
      min-width: 175px;
      width: 17.5vw;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      padding-bottom: 1rem;
    }
    &--twoThird{
      min-width: 150px;
      width: 43vw;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      padding-bottom: 1rem;
    }
    &--quarter{
      min-width: 150px;
      width: 13.6vw;
      display: flex;
      flex-direction: column;
      flex-wrap: wrap;
      padding-bottom: 1rem;
    }
    &Radio{
      display: flex;
      justify-content: space-between;
      align-items: center;
      &Align{
        display: flex;
        justify-content: flex-start;
        align-items: center;
        flex-direction: row;
        padding-right: 3vw;
      }
      &Text{
        padding-left: .5rem;
        padding-bottom: .1rem;
        font-family: 'Source Sans Pro', sans-serif;
        color: $gray;
        font-size: 1rem;
        line-height: 1.61;
        text-transform: capitalize;
      }
    }
    &Box{
      height: 2.5rem;
      border-radius: 3px;
      border: 1px solid $gray;
      text-transform: capitalize;
      padding-left: 1rem;
    }
  }

  &__group{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  &__subtitle{
    padding-bottom: .7rem;
    font-family: 'Source Sans Pro', sans-serif;
    color: $gray;
    font-size: 1rem;
    line-height: 1.61;
    text-transform: capitalize;
  }

  &__description{
    width: 100%;
    font-family: 'Source Sans Pro', sans-serif;
    color: $gray;
    font-size: .8rem;
    line-height: 1.93;
    padding-bottom: .7rem;
    &--darkGray{
      color: $darkerGray;
    }
  }
}
