
<div class="nav-bar">
  <app-discount-bar class="header"></app-discount-bar>
  <div class="nav-bar-content">
    <div class="nav-bar-logo">
      <div routerLink="/">THE <span>Pink</span> SERIES</div>
    </div>
    <div class="nav-bar-buttons">
      <div class="nav-bar-buttonsButton">
        <div routerLink="/events">Events</div>
      </div>
      <div class="nav-bar-buttonsButton">
        <div routerLink="/results">Results</div>
      </div>
      <div class="nav-bar-buttonsButton">
        <div routerLink="/charites">Charities</div>
      </div>
    </div>
  </div>
  <div class="nav-bar-underline">

  </div>
</div>
