<div class="orderSummary">
  <div class="orderSummary__summaryBox">
    <div class="orderSummary__blackBox">
      <h3 class="orderSummary__blackBoxTitle">ORDER SUMMARY</h3>
    </div>
    <div class="orderSummary__grayBox">

      <div class="orderSummary__flexLineItem orderSummary__lineItem">
        <h3 class="orderSummary__lineItemText">utah county 5k</h3>
        <h3  class="orderSummary__lineItemText">$40.00</h3>
      </div>
      <div class="orderSummary__flexLineItem orderSummary__lineItem">
        <h3 class="orderSummary__lineItemText">donation</h3>
        <h3 class="orderSummary__lineItemText">$5.00</h3>
      </div>

      <div class="orderSummary__grayLineDivider"></div>

      <div class="orderSummary__flexLineItem orderSummary__lineItem">
        <h3 class="orderSummary__lineItemText">subtotal</h3>
        <h3 class="orderSummary__lineItemText">$45.00</h3>
      </div>
      <div class="orderSummary__flexLineItem orderSummary__lineItem">
        <h3 class="orderSummary__lineItemText">Taxes</h3>
        <h3 class="orderSummary__lineItemText">$2.50</h3>
      </div>

    </div>
    <div class="orderSummary__pinkBox orderSummary__flexLineItem">
      <h3 class="orderSummary__pinkBoxText">total</h3>
      <h3 class="orderSummary__pinkBoxText">$47.50</h3>
    </div>
  </div>
  <div class="orderSummary__grayButton">
    <h3 class="orderSummary__grayButtonText">PLACE ORDER</h3>
  </div>
</div>
