<div class="registrationForm">

  <div class="registrationForm__title">
    Race questions
  </div>

  <div class="registrationForm__group">

    <div class="registrationForm__input">
      <label for="event" class="registrationForm__subtitle">choose your events(s)<span class="registrationForm__pink">*</span></label>
      <select type="text" id="event" class="registrationForm__inputBox">
        <option type="text" class="registrationForm__inputBox">5k</option>
        <option type="text" class="registrationForm__inputBox">10k</option>
        <option type="text" class="registrationForm__inputBox">Marathon</option>
      </select>
    </div>

    <div class="registrationForm__input">
      <label for="shirtOption" class="registrationForm__subtitle">select shirt option<span class="registrationForm__pink">*</span></label>
      <select type="text" id="shirtOption" class="registrationForm__inputBox">
        <option type="text" class="registrationForm__inputBox">Small</option>
        <option type="text" class="registrationForm__inputBox">Medium</option>
        <option type="text" class="registrationForm__inputBox">Large</option>
      </select>
    </div>

    <div class="registrationForm__input">
      <label for="multi-PersonPricing" class="registrationForm__subtitle">multi-Person pricing<span class="registrationForm__pink">*</span></label>
      <select type="text" id="multi-PersonPricing" class="registrationForm__inputBox">
        <option type="text" class="registrationForm__inputBox">4 people</option>
        <option type="text" class="registrationForm__inputBox">8 people</option>
        <option type="text" class="registrationForm__inputBox">16 people</option>
      </select>
    </div>

    <div class="registrationForm__input">
      <label for="releaseWaiver" class="registrationForm__subtitle">release waiver<span class="registrationForm__pink">*</span></label>
      <input type="text" id="releaseWaiver" class="registrationForm__inputBox">
    </div>

    <div class="registrationForm__description">
      Please enter your full name to electronically sign the release waiver. <span class="registrationForm__pinkUnderline">View release waiver.</span>
    </div>
  </div>
</div>
