@import "../../shared/styles/styleVars";

.races{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  width: 100vw;
  // height: 45.83vw;

  padding-top: 4.236vw;

  &--title{
    font-family: 'Montserrat', sans-serif;
    font-size: 3rem;
    font-weight: 900;
    letter-spacing: .25rem;
    color: $secondaryFontColor;
  }

  &--underscore{
    background: $lightGray;
    height: 2px;
    width: 89.5vw;
    content: ' ';
  }
  &--noUnderscore{
    padding-bottom: 3.611vw;
  }
}

.flexContainer{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
}
