<div class="runner">
  <div class="runner__id">
    <span class="runner__pinkBold runner__pinkBold--padRight ">Registrant #1</span>
    <!-- Have an account?
    <span class="runner__pinkUnderline">Sign in.</span> -->
  </div>

  <form class="" action="index.html" method="post">
    <app-basic-info></app-basic-info>
    <app-address></app-address>
    <app-additional-info></app-additional-info>
    <app-race-questions></app-race-questions>
    <app-donate></app-donate>
    <app-save-data></app-save-data>
  </form>

</div>
