<div class="whyRun">
  <div class="whyRun__title">
    WHY RUN IN THE PINK SERIES?
  </div>
  <p class="whyRun__text">
    Come be a part of the Pink Series experience! We run for a reason; that is for fun, fitness, family and those who are battling breast cancer! We partner up with a charity every year and donate a portion of your registration to help LOCAL ladies!
    <br>
    <br>
    The 5K will end at the same finish line as the 10K and all runners will be able to celebrate and mingle together at the finishline park (lots of area for kids to play and have fun as well). This gorgeous, flat, fast 5K along some beautiful, paved trails. The Utah Valley Pink Series 5K is a blast so grab your mom, your sisters and your girlfriends to come enjoy a fantastic race!
  </p>
</div>
