<div class="details">
  <div class="details__img">
    <img src="../../assets/images/events/runnerProfile.jpg" alt="">
  </div>
  <div class="details__content">
    <div class="details__title">
      EVENT DETAILS
    </div>
    <div class="details__intro">
      The course this year is FLAT. Flat, fast and beautful! Come run or walk! Almost half of our ladies every year this is either their first 5K or the only one they run every year! Come see why!
    </div>
    <ul class="details__bullets">
      <li><span>Custom finsher medal AND charm for all finishers (5K HUGE finisher medal, yes!)</span></li>
      <li><span>2 Blendtec Blenders for winners! 1st overall and 1st overall breast cancer survivor</span></li>
      <li><span>Awards (3 deep) for overall winners and age group  winners</span></li>
      <li><span>Portion of your registration directly benefits local ladies battling breast cancer via our chairty of choice</span></li>
      <li><span>Fantastic race shirt (fitted, loose, and tank top options availble)</span></li>
      <li><span>Chip timed race(start to finish)</span></li>
      <li><span>Results will be availble: TEXTED to your phone (opt in at sign up), at the finish line and live online</span></li>
    </ul>
    <div class="details__title">
      PACKET PICKUP
    </div>
    <ul class="details__bullets">
      <li>Packet pick up Thursday 24th -Friday 25th, 10AM-7PM at <span>UtahRUN</span></li>
    </ul>
  </div>
</div>
