<div class="registrationForm">

  <div class="registrationForm__title">
    additional information
  </div>

  <div class="registrationForm__group">
    <div class="registrationForm__input">
      <label for="DOB" class="registrationForm__subtitle">Date of birth<span class="registrationForm__pink">*</span></label>
      <input type="text" id="DOB" class="registrationForm__inputBox">
    </div>
    <div class="registrationForm__input">
      <label for="gender" class="registrationForm__subtitle">Gender<span class="registrationForm__pink">*</span></label>
      <input type="text" id="gender" class="registrationForm__inputBox">
    </div>
    <div class="registrationForm__input">
      <label for="phone" class="registrationForm__subtitle">phone<span class="registrationForm__pink">*</span></label>
      <input type="text" id="phone" class="registrationForm__inputBox">
    </div>

    <div class="registrationForm__description">
      Used for age group calculations
    </div>
  </div>
</div>
