@import "../../../shared/styles/styleVars";



.discount-bar{
  z-index: 5;
  width: 100vw;
  height: 1.9rem;
  background-color: $primaryBackgroundColor;
  display: flex;
  justify-content: center;
  align-items: center;
}
.discount-bar-CTA{
  font-family: 'Source Sans Pro', sans-serif;
	font-size: .8rem;
	font-weight: 900;
	font-style: italic;
	font-stretch: normal;
	line-height: normal;
	letter-spacing: .04rem;
	text-align: center;
	color: $primaryFontColor;
}
.discount-bar-CTA span{
  color: $primaryAccentColor;
  text-decoration: underline;
}
.discount-bar-social{
  position: absolute;
  top: 7px;
  right: 78px;
}
.discount-bar-social-items{
  display: flex;
  justify-content: space-between;
  width: 130px;
}
.discount-bar-social-items svg{
  fill: $primaryAccentColor;
}
