<div class="main">
  <div class="main--left">
    <div class="main--left--title">
      SUPPORT THE CAUSE BY “LIFTING HEARTS”
    </div>
    <p class="main--left--description">
          With a common goal to be healthy survivors and to help other survivors heal, the group
      <br>Lifting Hearts was organized to provide mentoring, monthly support meetings, breast cancer
      <br>retreats, service opportunities, and family activities, all aimed at sharing support, wisdom,
      <br>laughter and hope.  Each woman who joins Lifting Hearts gains instant friendships with
      <br>women who have walked in her path.  She finds a place to celebrate today and
      <br>figure out tomorrow, whatever comes. Become a part of the cause.</p>
    <div  routerLink="/charites" class="main--left--button">
      <h5 >GIVE MORE</h5>
    </div>
  </div>
  <div class="main--right">
    <div class="main--right--img">
      <img src="../../../../assets/images/icon-ribbon.svg" alt="ribbon on pink background">
    </div>
  </div>
</div>
